.logo1 {
    width: 50px;
    height: 50px;
}

.namelog {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
    
.profile img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    margin-left: 10px;
    border: 1px solid #777;
}

.profile-info .name {
    font-size: 15px;
    font-weight: bold;
}

.profile-info .title {
    font-size: 0.9rem;
    color: #777;
}

.search {
    margin-top: 10px;
    float: right;
    margin-right: 10px;
    height: 30  px;
    background-color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    flex-grow: 1;

}

.head {
    margin-left: 50px;
    margin-top: 50px;
    width: 170px;
    height: 70px;
    background-color: #d9f3d7;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link:focus::after,
.navbar-nav .nav-link.active::after {
    width: 100%;
}

.nav-link {
    color: #000;
}

.dash {
    margin-left: 10%;
    
}

.content {
    background-color: #d9f3d7;
    height: 400px;
    width: 900px;
}

.card {
    background-color: rgb(255, 255, 255);
    
    border-radius: 8px;
    padding: 15px;
    margin-top: 50px;
    width: 200px;
    margin-left: 50px;
    margin-right: 10px;
}

.avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;

}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    float: right;
}
.dropbtn {
    background-color: white;
    color: #000;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a i {
    margin-right: 15px; /* Add space between the icon and the text */
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}

.name1 {
    float: right;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.avatar {
    float: right;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-top: 7px;
    margin-right: 15px;
    margin-left: 10px;
    border: 1px solid #777;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.sidebar .nav-link {
    color: #000;
    position: relative;
    padding: 10px 0;
    margin: 0 0 10px 0;
    
}

.sidebar .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sidebar .nav-link:hover::after,
.sidebar .nav-link:focus::after,
.sidebar .nav-link.active::after {
    width: 100%;
}

#gaugeJobPosted, #gaugeApplicantsApplied, #gaugeTotalHired {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 5%;
}

.gaugeTitle {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 5px;
}
